
#root {
    background: url(../images/bg.jpg);
}

/* Login and Register css */
#login-page {
    position: relative;
    width: auto;
    height: auto;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background: #ca7272;
    box-shadow: 0px 0px 32px 0px #49535e, -14px -14px 20px #191c21;
}

#register-page {
    position: relative;
    width: auto;
    height: auto;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background: #ca7272;
    box-shadow: 0px 0px 32px 0px #49535e, -14px -14px 20px #191c21;
}

.container {
    padding: 40px;
}

.container>h1 {
    margin-top: 15px;
    font-weight: 900;
    font-size: 2.7rem;
    text-align: center;
    color: white;
    letter-spacing: 1px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 17px;
}

label,
input {
    display: block;
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

label {
    margin-bottom: 8px;
    font-size: 27px;
    color: white;
    margin-top: 13px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

label:nth-of-type(2) {
    margin-top: 20px;
}

input::placeholder {
    color: rgba(184, 179, 180, 0.678);
};


label[for="female"] {
    margin-top: 10px;
}

input[type="nickname"],
input[type="password"],
input[type="number"],
input[type="email"] {
    background: white;
    padding: 30px;
    padding-left: 20px;
    height: 50px;
    margin-top: 10px;
    font-size: 24px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #c0c2c5, inset -6px -6px 6px white;
}

label[for="terms"]>input {
    display: inline;
}

.btn.submit {
    margin-top: 30px;
    background: #778e9c;
    height: 60px;
    border-radius: 20px;
    color: white;
    font-size: 26px;
    cursor: pointer;
    font-weight: 900;
    box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
    transition: 0.5s;
}

.btn.submit:hover {
    color: white;
    background-color: #8fa9b9;
}

.container {
    text-align: left;
    margin-top: 0px;
}

.field>span {
    position: absolute;
    font-size: 18px;
    bottom: 17px;
    right: 8px;
    text-decoration: none;
    color: black;
    background: rgb(235, 157, 142);
    border-radius: 10px;
    padding: 10px;
}



/* Create and Edit css */
#create-page,
#edit-page {
    position: relative;
    width: auto;
    height: auto;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    text-align: center;
    background: #ca7272;
    box-shadow: 0px 0px 32px 0px #32485e, -14px -14px 20px #191c21;
}

input[type="text"] {
    background: white;
    padding: 30px;
    padding-left: 20px;
    height: 50px;
    margin-top: 10px;
    font-size: 24px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #c0c2c5, inset -6px -6px 6px white;
}

textarea {
    width: 100%;
    min-width: 20vw;
    min-height: 7em;
    border: 2px solid #86a480;
    border-radius: 0.7em;
    font-size: 26px;
    border-bottom-color: #ecf0f3;
    background-color: #ecf0f3;
    border-right-color: #ecf0f3;
    margin-top: 7px;
    color: black;
    box-shadow: inset 6px 6px 6px #c0c2c5, inset -6px -6px 6px white;
}



/* Details Page CSS */
#game-details {
    position: relative;
    display: block;
    width: 980px;
    margin: 90px auto;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.4s;
    background-color: rgb(233, 173, 173);
}

#game-details>h1 {
    color: #E55151;
    font-family: 'Quicksand', sans-serif;
    font-size: 55px;
    font-weight: 700;
    margin-bottom: 40px;
    text-transform: uppercase;
    text-align: center;
}

.info-section {
    position: relative;
    width: 100%;
    height: 100%;
    background-blend-mode: multiply;
    z-index: 2;
    border-radius: 10px;
    background-color:rgb(233, 173, 173);
}

.game-header {
    position: relative;
    padding: 25px;
    height: 40%;
}

.game_header>h1 {
    color: black;
    margin-top: 5px;
    font-size: 36px;
    font-weight: 400;
    font-family: 'Quicksand', sans-serif;
}

.game_header>h4 {
    color: #555;
    font-size: 23px;
    font-weight: 400;
    font-family: 'Quicksand', sans-serif;
}

.levels {
    display: inline-block;
    margin-top: 15px;
    color: #555;
    padding: 7px;
    border-radius: 5px;
    background-color: #b4b6ee;
    border: 1px solid rgba(218, 181, 181, 0.829);
}

.type {
    display: inline-block;
    color: #959595;
    font-size: 19px;
    margin-left: 10px;
}

.game-img {
    position: relative;
    float: left;
    margin-left: 15px;
    margin-right: 22px;
    height: 220px;
    border-radius: 50%;
    box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.5);
}

.info-section>.text {
    margin-top: 30px;
    padding: 60px;
    height: 50%;
}

.game-summary {
    margin-top: 15px;
    padding: 60px;
    height: 50%;
}

.text {
    font-size: 25px;
    color: #545454;
    font-family: 'Quicksand', sans-serif;
}

.movie_social {
    height: 10%;
    padding-left: 15px;
    padding-bottom: 20px;
}

.movie_social {
    font-size: 1.6rem;
    padding-top: 20px;
    text-align: center;
}

.buttons {
    height: 10%;
    text-align: right;
    padding-right: 15px;
    padding-bottom: 40px;
}

.button {
    height: 15%;
    background-color: #e06e6e;
    padding: 14px;
    margin-top: auto;
    font-size: 21px;
    color: rgb(255, 255, 255);
    border: 1px solid rgba(218, 181, 181, 0.829);
}

.button:hover {
    background-color: #d15c5c;
    color: white;
}


/* No list of items css */
.empty-list {
    color: rgb(98, 45, 45);
    text-align: center;
    font-weight: 600;
    font-size: 50px;
    font-family: 'Quicksand', sans-serif;
}
